.pirate-pic {
  background: #fff;
  border-radius: 2px;
  position: relative;
  text-align: left;
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */
  padding: 20px;
  justify-content: space-around;
  /* align-content: flex-start;  */
}
.img-container {
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
} 

/* .pirate-pic > .img-container > img {
  height: 75%;
  width: 75%;
}  */

