.pirate-pic {
  background: #fff;
  border-radius: 2px;
  position: relative;
  text-align: left;
}

/* .pirate-pic > .img-container {
  overflow: hidden;
  text-align: center;
} */

/* .pirate-pic > .img-container > img {
  height: 75%;
  width: 75%;
}  */

