.header {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  text-align: center;

}

* {
    color: black;
    font-family: 'Calligraffitti', cursive;
  background: rgb(45, 163, 114);
}